{"filter":false,"title":".gitignore","tooltip":"/rottenpotatoes-rails-intro-master/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1614045101069,"hash":"ebd487aa3153f449034986adb5b38df756b85551"}